<h1> Hello, class</h1>

<h2>Tacos:</h2>

<% tacos = ["Carnitas","Avocado","Fish"] %>

<p>There are too many! There are <%= tacos.length %> tacos!</p>


<ul>
  <li>Carne Asada
  <li>Chili
  <li>Hot dog
</ul>